#bt_bb > .bt_bb_item_list > .bt_bb_wrap .bt_bb_item .bt_bb_item .bt_bb_item .bt_bb_item.bt_bb_icon_bt_bb_masonry_portfolio_grid:before,
.bt_bb_dialog_content .bt_bb_icon_bt_bb_masonry_portfolio_grid:before {
    content: "\e955";
    }
#bt_bb > .bt_bb_item_list > .bt_bb_wrap .bt_bb_item .bt_bb_item .bt_bb_item .bt_bb_item.bt_bb_icon_bt_bb_masonry_portfolio_tiles:before,
.bt_bb_dialog_content .bt_bb_icon_bt_bb_masonry_portfolio_tiles:before {
    content: "\e906";
    }
#bt_bb > .bt_bb_item_list > .bt_bb_wrap .bt_bb_item .bt_bb_item .bt_bb_item .bt_bb_item.bt_bb_icon_bt_bb_masonry_post_tiles:before,
.bt_bb_dialog_content .bt_bb_icon_bt_bb_masonry_post_tiles:before {
    content: "\e906";
    }

/* Material icons */
@font-face {
    font-family: 'MaterialIcons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),local('MaterialIcons-Regular'),url(https://fonts.gstatic.com/s/materialicons/v20/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
    }
#bt_bb > .bt_bb_item_list > .bt_bb_wrap .bt_bb_item .bt_bb_item .bt_bb_item .bt_bb_item.bt_bb_icon_bt_bb_progress_bar_advanced:before,
.bt_bb_dialog_content .bt_bb_icon_bt_bb_progress_bar_advanced:before {
    font-family: 'MaterialIcons' !important;
    content: "\e068";
    }
#bt_bb > .bt_bb_item_list > .bt_bb_wrap .bt_bb_item .bt_bb_item .bt_bb_item .bt_bb_item.bt_bb_icon_bt_bb_working_hours:before,
.bt_bb_dialog_content .bt_bb_icon_bt_bb_working_hours:before {
    font-family: 'MaterialIcons' !important;
    content: "\e855";
    }
#bt_bb > .bt_bb_item_list > .bt_bb_wrap .bt_bb_item .bt_bb_item .bt_bb_item .bt_bb_item.bt_bb_icon_bt_bb_timetable:before,
.bt_bb_dialog_content .bt_bb_icon_bt_bb_timetable:before {
    font-family: 'MaterialIcons' !important;
    content: "\e3ec";
    }
#bt_bb > .bt_bb_item_list > .bt_bb_wrap .bt_bb_item .bt_bb_item .bt_bb_item .bt_bb_item.bt_bb_icon_bt_bb_service_image:before,
.bt_bb_dialog_content .bt_bb_icon_bt_bb_service_image:before {
    font-family: 'MaterialIcons' !important;
    content: "\e3c4";
    }

/* Gutenberg */
/* Base font */
/* Headline fond */
/* Main color */
.wp-block {
    max-width: 1200px !important;
    }

/* Backend Editor */
.editor-styles-wrapper,
#tinymce.mce-content-body,
.wp-block-freeform.block-library-rich-text__tinymce {
    font-size: 16px;
    font-family: "Roboto",Arial,sans-serif !important;
    line-height: 1.5;
    color: #181818;
    }
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
.editor-styles-wrapper .editor-post-title,
.editor-styles-wrapper .editor-post-title__block .editor-post-title__input,
#tinymce.mce-content-body h1,
#tinymce.mce-content-body h2,
#tinymce.mce-content-body h3,
#tinymce.mce-content-body h4,
#tinymce.mce-content-body h5,
#tinymce.mce-content-body h6,
#tinymce.mce-content-body .editor-post-title,
#tinymce.mce-content-body .editor-post-title__block .editor-post-title__input,
.wp-block-freeform.block-library-rich-text__tinymce h1,
.wp-block-freeform.block-library-rich-text__tinymce h2,
.wp-block-freeform.block-library-rich-text__tinymce h3,
.wp-block-freeform.block-library-rich-text__tinymce h4,
.wp-block-freeform.block-library-rich-text__tinymce h5,
.wp-block-freeform.block-library-rich-text__tinymce h6,
.wp-block-freeform.block-library-rich-text__tinymce .editor-post-title,
.wp-block-freeform.block-library-rich-text__tinymce .editor-post-title__block .editor-post-title__input {
    font-family: "Sarabun";
    margin: 0;
    font-weight: 800;
    letter-spacing: -.03em;
    padding: 0 0 .4em;
    line-height: 1 !important;
    }
.editor-styles-wrapper .mce-content-body,
#tinymce.mce-content-body .mce-content-body,
.wp-block-freeform.block-library-rich-text__tinymce .mce-content-body {
    line-height: 1.5;
    }
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h1,
.editor-styles-wrapper .wp-block-heading h1,
.editor-styles-wrapper h1,
#tinymce.mce-content-body .wp-block-freeform.block-library-rich-text__tinymce h1,
#tinymce.mce-content-body .wp-block-heading h1,
#tinymce.mce-content-body h1,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-freeform.block-library-rich-text__tinymce h1,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-heading h1,
.wp-block-freeform.block-library-rich-text__tinymce h1 {
    font-size: 3;
    }
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h2,
.editor-styles-wrapper .wp-block-heading h2,
.editor-styles-wrapper h2,
#tinymce.mce-content-body .wp-block-freeform.block-library-rich-text__tinymce h2,
#tinymce.mce-content-body .wp-block-heading h2,
#tinymce.mce-content-body h2,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-freeform.block-library-rich-text__tinymce h2,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-heading h2,
.wp-block-freeform.block-library-rich-text__tinymce h2 {
    font-size: 2.5em;
    }
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h3,
.editor-styles-wrapper .wp-block-heading h3,
.editor-styles-wrapper h3,
#tinymce.mce-content-body .wp-block-freeform.block-library-rich-text__tinymce h3,
#tinymce.mce-content-body .wp-block-heading h3,
#tinymce.mce-content-body h3,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-freeform.block-library-rich-text__tinymce h3,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-heading h3,
.wp-block-freeform.block-library-rich-text__tinymce h3 {
    font-size: 2.10225em;
    }
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h4,
.editor-styles-wrapper .wp-block-heading h4,
.editor-styles-wrapper h4,
#tinymce.mce-content-body .wp-block-freeform.block-library-rich-text__tinymce h4,
#tinymce.mce-content-body .wp-block-heading h4,
#tinymce.mce-content-body h4,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-freeform.block-library-rich-text__tinymce h4,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-heading h4,
.wp-block-freeform.block-library-rich-text__tinymce h4 {
    font-size: 1.76775em;
    }
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h5,
.editor-styles-wrapper .wp-block-heading h5,
.editor-styles-wrapper h5,
#tinymce.mce-content-body .wp-block-freeform.block-library-rich-text__tinymce h5,
#tinymce.mce-content-body .wp-block-heading h5,
#tinymce.mce-content-body h5,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-freeform.block-library-rich-text__tinymce h5,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-heading h5,
.wp-block-freeform.block-library-rich-text__tinymce h5 {
    font-size: 1.4865em;
    }
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h6,
.editor-styles-wrapper .wp-block-heading h6,
.editor-styles-wrapper h6,
#tinymce.mce-content-body .wp-block-freeform.block-library-rich-text__tinymce h6,
#tinymce.mce-content-body .wp-block-heading h6,
#tinymce.mce-content-body h6,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-freeform.block-library-rich-text__tinymce h6,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-heading h6,
.wp-block-freeform.block-library-rich-text__tinymce h6 {
    font-size: 1.25em;
    }
.editor-styles-wrapper p,
#tinymce.mce-content-body p,
.wp-block-freeform.block-library-rich-text__tinymce p {
    font-size: 16px;
    line-height: 1.5 !important;
    color: #181818;
    margin: 0 0 1em;
    }
.editor-styles-wrapper p strong,
#tinymce.mce-content-body p strong,
.wp-block-freeform.block-library-rich-text__tinymce p strong {
    font-weight: bold;
    }
.editor-styles-wrapper p.has-drop-cap:not(:focus):first-letter,
#tinymce.mce-content-body p.has-drop-cap:not(:focus):first-letter,
.wp-block-freeform.block-library-rich-text__tinymce p.has-drop-cap:not(:focus):first-letter {
    float: left;
    font-size: 3em;
    line-height: 1;
    font-weight: 800;
    }
.editor-styles-wrapper p.wp-block-subhead,
#tinymce.mce-content-body p.wp-block-subhead,
.wp-block-freeform.block-library-rich-text__tinymce p.wp-block-subhead {
    color: inherit;
    opacity: .6;
    }
.editor-styles-wrapper p.wp-block-cover-text,
#tinymce.mce-content-body p.wp-block-cover-text,
.wp-block-freeform.block-library-rich-text__tinymce p.wp-block-cover-text {
    color: #FFF;
    font-size: 2em;
    line-height: 1.25;
    }
.editor-styles-wrapper .wp-block-cover p.wp-block-paragraph,
#tinymce.mce-content-body .wp-block-cover p.wp-block-paragraph,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-cover p.wp-block-paragraph {
    color: #FFF;
    font-size: 2rem !important;
    }
.editor-styles-wrapper .wp-block-cover.alignleft,
#tinymce.mce-content-body .wp-block-cover.alignleft,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-cover.alignleft {
    margin-right: 1rem;
    }
.editor-styles-wrapper .wp-block-cover.alignright,
#tinymce.mce-content-body .wp-block-cover.alignright,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-cover.alignright {
    margin-left: 1rem;
    }
.editor-styles-wrapper strong,
#tinymce.mce-content-body strong,
.wp-block-freeform.block-library-rich-text__tinymce strong {
    font-weight: bold;
    }
.editor-styles-wrapper blockquote,
.editor-styles-wrapper blockquote.wp-block-quote,
.editor-styles-wrapper .wp-block-pullquote blockquote,
#tinymce.mce-content-body blockquote,
#tinymce.mce-content-body blockquote.wp-block-quote,
#tinymce.mce-content-body .wp-block-pullquote blockquote,
.wp-block-freeform.block-library-rich-text__tinymce blockquote,
.wp-block-freeform.block-library-rich-text__tinymce blockquote.wp-block-quote,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote blockquote {
    display: block;
    font-family: "Roboto",Arial,sans-serif !important;
    margin: 0;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3em;
    position: relative;
    padding: 1.6em 0 1.6em .8em;
    border: none !important;
    color: #181818;
    }
.editor-styles-wrapper blockquote:after,
.editor-styles-wrapper blockquote.wp-block-quote:after,
.editor-styles-wrapper .wp-block-pullquote blockquote:after,
#tinymce.mce-content-body blockquote:after,
#tinymce.mce-content-body blockquote.wp-block-quote:after,
#tinymce.mce-content-body .wp-block-pullquote blockquote:after,
.wp-block-freeform.block-library-rich-text__tinymce blockquote:after,
.wp-block-freeform.block-library-rich-text__tinymce blockquote.wp-block-quote:after,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote blockquote:after {
    content: " ";
    display: table;
    width: 100%;
    clear: both;
    }
.editor-styles-wrapper blockquote > *:last-child,
.editor-styles-wrapper blockquote.wp-block-quote > *:last-child,
.editor-styles-wrapper .wp-block-pullquote blockquote > *:last-child,
#tinymce.mce-content-body blockquote > *:last-child,
#tinymce.mce-content-body blockquote.wp-block-quote > *:last-child,
#tinymce.mce-content-body .wp-block-pullquote blockquote > *:last-child,
.wp-block-freeform.block-library-rich-text__tinymce blockquote > *:last-child,
.wp-block-freeform.block-library-rich-text__tinymce blockquote.wp-block-quote > *:last-child,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote blockquote > *:last-child {
    margin-bottom: 0;
    }
.editor-styles-wrapper blockquote cite,
.editor-styles-wrapper blockquote.wp-block-quote cite,
.editor-styles-wrapper .wp-block-pullquote blockquote cite,
#tinymce.mce-content-body blockquote cite,
#tinymce.mce-content-body blockquote.wp-block-quote cite,
#tinymce.mce-content-body .wp-block-pullquote blockquote cite,
.wp-block-freeform.block-library-rich-text__tinymce blockquote cite,
.wp-block-freeform.block-library-rich-text__tinymce blockquote.wp-block-quote cite,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote blockquote cite {
    font-family: "Roboto",Arial,sans-serif !important;
    font-style: normal;
    display: block;
    font-size: 1.25rem;
    opacity: .5;
    }
.editor-styles-wrapper blockquote .editor-rich-text,
.editor-styles-wrapper blockquote.wp-block-quote .editor-rich-text,
.editor-styles-wrapper .wp-block-pullquote blockquote .editor-rich-text,
#tinymce.mce-content-body blockquote .editor-rich-text,
#tinymce.mce-content-body blockquote.wp-block-quote .editor-rich-text,
#tinymce.mce-content-body .wp-block-pullquote blockquote .editor-rich-text,
.wp-block-freeform.block-library-rich-text__tinymce blockquote .editor-rich-text,
.wp-block-freeform.block-library-rich-text__tinymce blockquote.wp-block-quote .editor-rich-text,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote blockquote .editor-rich-text {
    z-index: 1;
    }
.editor-styles-wrapper blockquote:before,
.editor-styles-wrapper blockquote.wp-block-quote:before,
.editor-styles-wrapper .wp-block-pullquote blockquote:before,
#tinymce.mce-content-body blockquote:before,
#tinymce.mce-content-body blockquote.wp-block-quote:before,
#tinymce.mce-content-body .wp-block-pullquote blockquote:before,
.wp-block-freeform.block-library-rich-text__tinymce blockquote:before,
.wp-block-freeform.block-library-rich-text__tinymce blockquote.wp-block-quote:before,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote blockquote:before {
    content: '\e900';
    font-family: Avantage;
    display: block;
    font-size: 6em;
    line-height: 1;
    position: absolute;
    top: -.15em;
    left: 0;
    opacity: .1;
    color: inherit;
    }
.editor-styles-wrapper blockquote .wp-block-quote__citation,
.editor-styles-wrapper blockquote.wp-block-quote .wp-block-quote__citation,
.editor-styles-wrapper .wp-block-pullquote blockquote .wp-block-quote__citation,
#tinymce.mce-content-body blockquote .wp-block-quote__citation,
#tinymce.mce-content-body blockquote.wp-block-quote .wp-block-quote__citation,
#tinymce.mce-content-body .wp-block-pullquote blockquote .wp-block-quote__citation,
.wp-block-freeform.block-library-rich-text__tinymce blockquote .wp-block-quote__citation,
.wp-block-freeform.block-library-rich-text__tinymce blockquote.wp-block-quote .wp-block-quote__citation,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote blockquote .wp-block-quote__citation {
    font-size: 1.25rem;
    color: inherit;
    opacity: .5;
    margin-top: 0;
    }
.editor-styles-wrapper blockquote p,
.editor-styles-wrapper blockquote.wp-block-quote p,
.editor-styles-wrapper .wp-block-pullquote blockquote p,
#tinymce.mce-content-body blockquote p,
#tinymce.mce-content-body blockquote.wp-block-quote p,
#tinymce.mce-content-body .wp-block-pullquote blockquote p,
.wp-block-freeform.block-library-rich-text__tinymce blockquote p,
.wp-block-freeform.block-library-rich-text__tinymce blockquote.wp-block-quote p,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote blockquote p {
    font-size: 1em !important;
    line-height: 1.3em !important;
    }
.editor-styles-wrapper blockquote p:last-of-type,
.editor-styles-wrapper blockquote.wp-block-quote p:last-of-type,
.editor-styles-wrapper .wp-block-pullquote blockquote p:last-of-type,
#tinymce.mce-content-body blockquote p:last-of-type,
#tinymce.mce-content-body blockquote.wp-block-quote p:last-of-type,
#tinymce.mce-content-body .wp-block-pullquote blockquote p:last-of-type,
.wp-block-freeform.block-library-rich-text__tinymce blockquote p:last-of-type,
.wp-block-freeform.block-library-rich-text__tinymce blockquote.wp-block-quote p:last-of-type,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote blockquote p:last-of-type {
    margin-bottom: 0;
    }
.editor-styles-wrapper blockquote.is-large,
.editor-styles-wrapper blockquote.is-style-large,
.editor-styles-wrapper blockquote.wp-block-quote.is-large,
.editor-styles-wrapper blockquote.wp-block-quote.is-style-large,
.editor-styles-wrapper .wp-block-pullquote blockquote.is-large,
.editor-styles-wrapper .wp-block-pullquote blockquote.is-style-large,
#tinymce.mce-content-body blockquote.is-large,
#tinymce.mce-content-body blockquote.is-style-large,
#tinymce.mce-content-body blockquote.wp-block-quote.is-large,
#tinymce.mce-content-body blockquote.wp-block-quote.is-style-large,
#tinymce.mce-content-body .wp-block-pullquote blockquote.is-large,
#tinymce.mce-content-body .wp-block-pullquote blockquote.is-style-large,
.wp-block-freeform.block-library-rich-text__tinymce blockquote.is-large,
.wp-block-freeform.block-library-rich-text__tinymce blockquote.is-style-large,
.wp-block-freeform.block-library-rich-text__tinymce blockquote.wp-block-quote.is-large,
.wp-block-freeform.block-library-rich-text__tinymce blockquote.wp-block-quote.is-style-large,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote blockquote.is-large,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote blockquote.is-style-large {
    font-size: 2em;
    }
.editor-styles-wrapper blockquote.is-large p,
.editor-styles-wrapper blockquote.is-style-large p,
.editor-styles-wrapper blockquote.wp-block-quote.is-large p,
.editor-styles-wrapper blockquote.wp-block-quote.is-style-large p,
.editor-styles-wrapper .wp-block-pullquote blockquote.is-large p,
.editor-styles-wrapper .wp-block-pullquote blockquote.is-style-large p,
#tinymce.mce-content-body blockquote.is-large p,
#tinymce.mce-content-body blockquote.is-style-large p,
#tinymce.mce-content-body blockquote.wp-block-quote.is-large p,
#tinymce.mce-content-body blockquote.wp-block-quote.is-style-large p,
#tinymce.mce-content-body .wp-block-pullquote blockquote.is-large p,
#tinymce.mce-content-body .wp-block-pullquote blockquote.is-style-large p,
.wp-block-freeform.block-library-rich-text__tinymce blockquote.is-large p,
.wp-block-freeform.block-library-rich-text__tinymce blockquote.is-style-large p,
.wp-block-freeform.block-library-rich-text__tinymce blockquote.wp-block-quote.is-large p,
.wp-block-freeform.block-library-rich-text__tinymce blockquote.wp-block-quote.is-style-large p,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote blockquote.is-large p,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote blockquote.is-style-large p {
    font-size: 1em !important;
    }
.editor-styles-wrapper .wp-block-pullquote,
#tinymce.mce-content-body .wp-block-pullquote,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote {
    border: none;
    text-align: inherit;
    }
.editor-styles-wrapper .wp-block-pullquote .editor-rich-text p,
#tinymce.mce-content-body .wp-block-pullquote .editor-rich-text p,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote .editor-rich-text p {
    font-size: 28px;
    }
.editor-styles-wrapper .wp-block-pullquote.aligncenter blockquote,
.editor-styles-wrapper .wp-block-pullquote.alignnone blockquote,
#tinymce.mce-content-body .wp-block-pullquote.aligncenter blockquote,
#tinymce.mce-content-body .wp-block-pullquote.alignnone blockquote,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote.aligncenter blockquote,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote.alignnone blockquote {
    text-align: center;
    }
.editor-styles-wrapper .wp-block-pullquote.aligncenter blockquote:before,
.editor-styles-wrapper .wp-block-pullquote.alignnone blockquote:before,
#tinymce.mce-content-body .wp-block-pullquote.aligncenter blockquote:before,
#tinymce.mce-content-body .wp-block-pullquote.alignnone blockquote:before,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote.aligncenter blockquote:before,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote.alignnone blockquote:before {
    left: 50% !important;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    }
.editor-styles-wrapper .wp-block-pullquote.alignright blockquote,
#tinymce.mce-content-body .wp-block-pullquote.alignright blockquote,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote.alignright blockquote {
    padding: 1.6em 0 1.6em .8em !important;
    }
.editor-styles-wrapper .wp-block-pullquote.alignright blockquote:before,
#tinymce.mce-content-body .wp-block-pullquote.alignright blockquote:before,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote.alignright blockquote:before {
    left: 0;
    top: -.15em;
    }
.editor-styles-wrapper figure.wp-block-pullquote,
#tinymce.mce-content-body figure.wp-block-pullquote,
.wp-block-freeform.block-library-rich-text__tinymce figure.wp-block-pullquote {
    margin: 2em 0;
    padding: 0;
    }
.editor-styles-wrapper cite,
#tinymce.mce-content-body cite,
.wp-block-freeform.block-library-rich-text__tinymce cite {
    font-style: 1.25rem;
    color: inherit;
    opacity: .5;
    }
.editor-styles-wrapper table,
#tinymce.mce-content-body table,
.wp-block-freeform.block-library-rich-text__tinymce table {
    width: 100%;
    margin: 0 0 1em;
    border-collapse: collapse;
    text-align: initial;
    border: 1px solid rgba(0,0,0,.07);
    }
.editor-styles-wrapper table td,
.editor-styles-wrapper table th,
#tinymce.mce-content-body table td,
#tinymce.mce-content-body table th,
.wp-block-freeform.block-library-rich-text__tinymce table td,
.wp-block-freeform.block-library-rich-text__tinymce table th {
    padding: 1em;
    border: 1px solid rgba(0,0,0,.07);
    }
.editor-styles-wrapper table th,
#tinymce.mce-content-body table th,
.wp-block-freeform.block-library-rich-text__tinymce table th {
    text-align: left;
    font-weight: normal;
    }
.editor-styles-wrapper table thead th,
#tinymce.mce-content-body table thead th,
.wp-block-freeform.block-library-rich-text__tinymce table thead th {
    font-weight: 700;
    background-color: #e94d65;
    color: white;
    }
.editor-styles-wrapper .wp-block-table.aligncenter,
#tinymce.mce-content-body .wp-block-table.aligncenter,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-table.aligncenter {
    margin: 0 auto;
    }
.editor-styles-wrapper .wp-block-table td,
.editor-styles-wrapper .wp-block-table th,
#tinymce.mce-content-body .wp-block-table td,
#tinymce.mce-content-body .wp-block-table th,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-table td,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-table th {
    padding: .5em;
    text-align: left;
    font-weight: normal;
    border: 1px solid rgba(0,0,0,.07);
    }
.editor-styles-wrapper dl,
.editor-styles-wrapper address,
#tinymce.mce-content-body dl,
#tinymce.mce-content-body address,
.wp-block-freeform.block-library-rich-text__tinymce dl,
.wp-block-freeform.block-library-rich-text__tinymce address {
    margin: 0 0 1em;
    }
.editor-styles-wrapper dl dt,
.editor-styles-wrapper address dt,
#tinymce.mce-content-body dl dt,
#tinymce.mce-content-body address dt,
.wp-block-freeform.block-library-rich-text__tinymce dl dt,
.wp-block-freeform.block-library-rich-text__tinymce address dt {
    font-weight: 600;
    display: inline;
    padding-right: .75em;
    }
.editor-styles-wrapper dl dd,
.editor-styles-wrapper address dd,
#tinymce.mce-content-body dl dd,
#tinymce.mce-content-body address dd,
.wp-block-freeform.block-library-rich-text__tinymce dl dd,
.wp-block-freeform.block-library-rich-text__tinymce address dd {
    display: inline;
    margin: 0;
    }
.editor-styles-wrapper dl dd:after,
.editor-styles-wrapper address dd:after,
#tinymce.mce-content-body dl dd:after,
#tinymce.mce-content-body address dd:after,
.wp-block-freeform.block-library-rich-text__tinymce dl dd:after,
.wp-block-freeform.block-library-rich-text__tinymce address dd:after {
    content: ' ';
    display: table;
    clear: both;
    }
.editor-styles-wrapper a,
#tinymce.mce-content-body a,
.wp-block-freeform.block-library-rich-text__tinymce a {
    text-decoration: none;
    color: #e94d65;
    }
.editor-styles-wrapper .has-large-font-size,
#tinymce.mce-content-body .has-large-font-size,
.wp-block-freeform.block-library-rich-text__tinymce .has-large-font-size {
    font-size: 2.2em;
    line-height: 1.5;
    }
.editor-styles-wrapper .has-medium-font-size,
#tinymce.mce-content-body .has-medium-font-size,
.wp-block-freeform.block-library-rich-text__tinymce .has-medium-font-size {
    font-size: 1.25em;
    }
.editor-styles-wrapper ul ul ul,
#tinymce.mce-content-body ul ul ul,
.wp-block-freeform.block-library-rich-text__tinymce ul ul ul {
    list-style-type: square;
    }
.editor-styles-wrapper ul,
.editor-styles-wrapper ol,
#tinymce.mce-content-body ul,
#tinymce.mce-content-body ol,
.wp-block-freeform.block-library-rich-text__tinymce ul,
.wp-block-freeform.block-library-rich-text__tinymce ol {
    margin: 0 0 1em 1.5em !important;
    padding: 0 !important;
    }
.editor-styles-wrapper ul ul,
.editor-styles-wrapper ul ol,
.editor-styles-wrapper ol ul,
.editor-styles-wrapper ol ol,
#tinymce.mce-content-body ul ul,
#tinymce.mce-content-body ul ol,
#tinymce.mce-content-body ol ul,
#tinymce.mce-content-body ol ol,
.wp-block-freeform.block-library-rich-text__tinymce ul ul,
.wp-block-freeform.block-library-rich-text__tinymce ul ol,
.wp-block-freeform.block-library-rich-text__tinymce ol ul,
.wp-block-freeform.block-library-rich-text__tinymce ol ol {
    margin-bottom: 0 !important;
    }
.editor-styles-wrapper li,
#tinymce.mce-content-body li,
.wp-block-freeform.block-library-rich-text__tinymce li {
    line-height: 1.5 !important;
    margin-bottom: 0 !important;
    }
.editor-styles-wrapper .block-library-list .editor-rich-text__tinymce,
.editor-styles-wrapper .block-library-list .editor-rich-text__tinymce ol,
.editor-styles-wrapper .block-library-list .editor-rich-text__tinymce ul,
#tinymce.mce-content-body .block-library-list .editor-rich-text__tinymce,
#tinymce.mce-content-body .block-library-list .editor-rich-text__tinymce ol,
#tinymce.mce-content-body .block-library-list .editor-rich-text__tinymce ul,
.wp-block-freeform.block-library-rich-text__tinymce .block-library-list .editor-rich-text__tinymce,
.wp-block-freeform.block-library-rich-text__tinymce .block-library-list .editor-rich-text__tinymce ol,
.wp-block-freeform.block-library-rich-text__tinymce .block-library-list .editor-rich-text__tinymce ul {
    margin: 0;
    }
.editor-styles-wrapper code,
#tinymce.mce-content-body code,
.wp-block-freeform.block-library-rich-text__tinymce code {
    background-color: transparent !important;
    }
.editor-styles-wrapper pre,
.editor-styles-wrapper .wp-block-preformatted pre,
.editor-styles-wrapper .wp-block-verse pre,
.editor-styles-wrapper pre.wp-block-verse,
#tinymce.mce-content-body pre,
#tinymce.mce-content-body .wp-block-preformatted pre,
#tinymce.mce-content-body .wp-block-verse pre,
#tinymce.mce-content-body pre.wp-block-verse,
.wp-block-freeform.block-library-rich-text__tinymce pre,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-preformatted pre,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-verse pre,
.wp-block-freeform.block-library-rich-text__tinymce pre.wp-block-verse {
    padding: .8em 1em;
    font-family: monospace;
    border: 1px solid #e2e4e7;
    }
.editor-styles-wrapper .wp-caption-text,
#tinymce.mce-content-body .wp-caption-text,
.wp-block-freeform.block-library-rich-text__tinymce .wp-caption-text {
    font-size: .9em;
    line-height: 1.7;
    }
.editor-styles-wrapper .wp-block-categories,
#tinymce.mce-content-body .wp-block-categories,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-categories {
    display: inline-block;
    }
.editor-styles-wrapper .wp-block-pullquote cite,
.editor-styles-wrapper .wp-block-pullquote footer,
.editor-styles-wrapper .wp-block-pullquote__citation,
#tinymce.mce-content-body .wp-block-pullquote cite,
#tinymce.mce-content-body .wp-block-pullquote footer,
#tinymce.mce-content-body .wp-block-pullquote__citation,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote cite,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote footer,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-pullquote__citation {
    font-size: inherit;
    text-transform: inherit;
    opacity: .5;
    font-size: 1.25rem;
    }
.editor-styles-wrapper hr,
#tinymce.mce-content-body hr,
.wp-block-freeform.block-library-rich-text__tinymce hr {
    cursor: default;
    margin: 1em auto;
    max-width: 100px;
    border-bottom: 2px solid #8f98a1;
    }
.editor-styles-wrapper hr.is-style-wide,
#tinymce.mce-content-body hr.is-style-wide,
.wp-block-freeform.block-library-rich-text__tinymce hr.is-style-wide {
    max-width: 100%;
    border: none;
    border-bottom: 1px solid #8f98a1;
    }
.editor-styles-wrapper hr.is-style-dots,
#tinymce.mce-content-body hr.is-style-dots,
.wp-block-freeform.block-library-rich-text__tinymce hr.is-style-dots {
    background: 0 0;
    border: none;
    text-align: center;
    max-width: none;
    line-height: 1;
    height: auto;
    }
.editor-styles-wrapper hr.is-style-dots:before,
#tinymce.mce-content-body hr.is-style-dots:before,
.wp-block-freeform.block-library-rich-text__tinymce hr.is-style-dots:before {
    content: "\00b7 \00b7 \00b7";
    color: #191e23;
    font-size: 20px;
    letter-spacing: 2em;
    padding-left: 2em;
    font-family: serif;
    }
.editor-styles-wrapper .wp-block-button .wp-block-button__link,
#tinymce.mce-content-body .wp-block-button .wp-block-button__link,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-button .wp-block-button__link {
    color: #fff;
    font-size: 1rem;
    padding: .8em 2.2em;
    font-weight: normal;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    line-height: 1.5;
    }
.editor-styles-wrapper .wp-block-button .wp-block-button__link:hover,
#tinymce.mce-content-body .wp-block-button .wp-block-button__link:hover,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-button .wp-block-button__link:hover {
    color: #e94d65;
    }
.editor-styles-wrapper / .wp-block-latest-comments__comment-excerpt p,
#tinymce.mce-content-body / .wp-block-latest-comments__comment-excerpt p,
.wp-block-freeform.block-library-rich-text__tinymce / .wp-block-latest-comments__comment-excerpt p {
    font-size: .95em;
    }
.editor-styles-wrapper .wp-block-latest-posts,
.editor-styles-wrapper ul.wp-block-archives,
.editor-styles-wrapper .wp-block-archives,
.editor-styles-wrapper .wp-block-categories ul,
.editor-styles-wrapper ul.wp-block-categories,
#tinymce.mce-content-body .wp-block-latest-posts,
#tinymce.mce-content-body ul.wp-block-archives,
#tinymce.mce-content-body .wp-block-archives,
#tinymce.mce-content-body .wp-block-categories ul,
#tinymce.mce-content-body ul.wp-block-categories,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-latest-posts,
.wp-block-freeform.block-library-rich-text__tinymce ul.wp-block-archives,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-archives,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-categories ul,
.wp-block-freeform.block-library-rich-text__tinymce ul.wp-block-categories {
    padding-left: 1.3em;
    }
.editor-styles-wrapper .wp-block .editor-block-list__block-edit,
#tinymce.mce-content-body .wp-block .editor-block-list__block-edit,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block .editor-block-list__block-edit {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    }
.editor-styles-wrapper .wp-block-image .aligncenter figcaption,
#tinymce.mce-content-body .wp-block-image .aligncenter figcaption,
.wp-block-freeform.block-library-rich-text__tinymce .wp-block-image .aligncenter figcaption {
    display: block;
    }
.wp-block-freeform .mce-item-table:not(.wp-block-table) thead th {
    font-weight: 700;
    background-color: #e94d65;
    color: white;
    }
.wp-block-freeform .mce-item-table:not(.wp-block-table) tbody td a,
.wp-block-freeform .mce-item-table:not(.wp-block-table) tbody th a {
    font-weight: bold;
    color: #e94d65;
    }

/*# sourceMappingURL=admin-style.css.map */