#bt_bb > .bt_bb_item_list > .bt_bb_wrap .bt_bb_item .bt_bb_item .bt_bb_item .bt_bb_item.bt_bb_icon_bt_bb_masonry_portfolio_grid:before, 
.bt_bb_dialog_content .bt_bb_icon_bt_bb_masonry_portfolio_grid:before {
	content: "\e955";
}
#bt_bb > .bt_bb_item_list > .bt_bb_wrap .bt_bb_item .bt_bb_item .bt_bb_item .bt_bb_item.bt_bb_icon_bt_bb_masonry_portfolio_tiles:before, 
.bt_bb_dialog_content .bt_bb_icon_bt_bb_masonry_portfolio_tiles:before {
	content: "\e906";
}
#bt_bb > .bt_bb_item_list > .bt_bb_wrap .bt_bb_item .bt_bb_item .bt_bb_item .bt_bb_item.bt_bb_icon_bt_bb_masonry_post_tiles:before, 
.bt_bb_dialog_content .bt_bb_icon_bt_bb_masonry_post_tiles:before {
	content: "\e906";
}

/* Material icons */

@font-face {
  font-family: 'MaterialIcons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('https://fonts.gstatic.com/s/materialicons/v20/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2') format('woff2');
}

#bt_bb > .bt_bb_item_list > .bt_bb_wrap .bt_bb_item .bt_bb_item .bt_bb_item .bt_bb_item.bt_bb_icon_bt_bb_progress_bar_advanced:before, 
.bt_bb_dialog_content .bt_bb_icon_bt_bb_progress_bar_advanced:before {
	font-family: 'MaterialIcons' !important;
	content: "\e068";
}

#bt_bb > .bt_bb_item_list > .bt_bb_wrap .bt_bb_item .bt_bb_item .bt_bb_item .bt_bb_item.bt_bb_icon_bt_bb_working_hours:before, 
.bt_bb_dialog_content .bt_bb_icon_bt_bb_working_hours:before {
	font-family: 'MaterialIcons' !important;
	content: "\e855";
}

#bt_bb > .bt_bb_item_list > .bt_bb_wrap .bt_bb_item .bt_bb_item .bt_bb_item .bt_bb_item.bt_bb_icon_bt_bb_timetable:before, 
.bt_bb_dialog_content .bt_bb_icon_bt_bb_timetable:before {
	font-family: 'MaterialIcons' !important;
	content: "\e3ec";
}

#bt_bb > .bt_bb_item_list > .bt_bb_wrap .bt_bb_item .bt_bb_item .bt_bb_item .bt_bb_item.bt_bb_icon_bt_bb_service_image:before, 
.bt_bb_dialog_content .bt_bb_icon_bt_bb_service_image:before {
	font-family: 'MaterialIcons' !important;
	content: "\e3c4";
}

/* Gutenberg */
@set bodyFont Roboto; /* Base font */
@set headingFont Sarabun; /* Headline fond */
@set accentColor #e94d65; /* Main color */

.wp-block {
	/* max-width: 880px; */
	max-width: 1200px !important;
}

/* Backend Editor */
.editor-styles-wrapper, #tinymce.mce-content-body, .wp-block-freeform.block-library-rich-text__tinymce {
	font-size: 16px;
	font-family: "$(bodyFont)", Arial,sans-serif !important;
	line-height: 1.5;
	color: #181818;
	h1, h2, h3, h4, h5, h6,
	.editor-post-title,
	.editor-post-title__block .editor-post-title__input {
		font-family: "$(headingFont)";
		margin: 0;
		font-weight: 800;
		letter-spacing: -.03em;
		padding: 0 0 .4em;
		line-height: 1 !important;
	}
	.mce-content-body {
		line-height: 1.5;
	}
	.wp-block-freeform.block-library-rich-text__tinymce h1, .wp-block-heading h1, h1 {
		font-size: 3;
	}
	.wp-block-freeform.block-library-rich-text__tinymce h2, .wp-block-heading h2, h2 {
		font-size: 2.5em;
	}
	.wp-block-freeform.block-library-rich-text__tinymce h3, .wp-block-heading h3, h3 {
		font-size: 2.10225em;
	}
	.wp-block-freeform.block-library-rich-text__tinymce h4, .wp-block-heading h4, h4 {
		font-size: 1.76775em;
	}
	.wp-block-freeform.block-library-rich-text__tinymce h5, .wp-block-heading h5, h5 {
		font-size: 1.4865em;
	}
	.wp-block-freeform.block-library-rich-text__tinymce h6, .wp-block-heading h6, h6 {
		font-size: 1.25em;
	}
	p {
		font-size: 16px;
		line-height: 1.5 !important;
		color: #181818;
		margin: 0 0 1em;
		strong {
			font-weight: bold;
		}
		&.has-drop-cap:not(:focus)::first-letter { 
			float:left;
			font-size: 3em;
			line-height: 1;
			font-weight: 800;
		}
		&.wp-block-subhead {
			color: inherit;
			opacity: .6;
		}
		&.wp-block-cover-text {
			color: #FFF;
			font-size: 2em;
			line-height: 1.25;
		}
	}
	.wp-block-cover {
		p.wp-block-paragraph {
			color: #FFF;
			font-size: 2rem !important
			line-height: 1.25 !important;
		}
		&.alignleft {
			margin-right: 1rem;
		}
		&.alignright {
			margin-left: 1rem;
		}
	}
	strong {
		font-weight: bold;
	}
	/* Blockquote, Pullquote */
	blockquote,
	blockquote.wp-block-quote,
	.wp-block-pullquote blockquote {
		display: block;
		font-family: "$(bodyFont)", Arial,sans-serif !important;
		margin: 0;
		font-size: 1.5625rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.3em;
		position: relative;
		padding: 1.6em 0 1.6em .8em;
		border: none !important;
		color: #181818;
		&:after {
			content: " ";
			display: table;
			width: 100%;
			clear: both;
		}
		> *:last-child {
			margin-bottom: 0;
		}
		cite {
			font-family: "$(bodyFont)", Arial,sans-serif !important;
			font-style: normal;
			display: block;
			font-size: 1.25rem;
			opacity: .5;
		}
		.editor-rich-text {
			z-index: 1;
		}
		&:before {
			content: '\e900';
			font-family: Avantage;
			display: block;
			font-size: 6em;
			line-height: 1;
			position: absolute;
			top: -.15em;
			left: 0;
			opacity: .1;
			color: inherit;
		}
		& .wp-block-quote__citation {
			font-size: 1.25rem;
			color: inherit;
			opacity: .5;
			margin-top: 0;
		}
		p {
			font-size: 1em !important;
			line-height: 1.3em !important;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		&.is-large, &.is-style-large {
			font-size: 2em;
			p {
				font-size: 1em !important;
			}
		}
	}
	.wp-block-pullquote {
		border: none;
		text-align: inherit;
		.editor-rich-text {
			p {
				font-size: 28px;
			}
		}
	}
	.wp-block-pullquote {
		&.aligncenter, &.alignnone {
			blockquote {
				text-align: center;
				&:before {
					left: 50% !important;
					transform: translateX(-50%);
				}
			}
		}
		&.alignright {
			blockquote {
				padding: 1.6em 0 1.6em .8em !important;
				&:before {
					left: 0;
					top: -.15em;
				}
			}
		}
	}
	figure.wp-block-pullquote {
		margin: 2em 0;
		padding: 0;
	}
	cite {
		font-style: 1.25rem;
		color: inherit;
		opacity: .5;
	}
	/* Table */
	table {
		width: 100%;
		margin: 0 0 1em 0;
		border-collapse: collapse;
		text-align: initial;
		border: 1px solid rgba(0,0,0,.07);
		td, th {
			padding: 1em;
			border: 1px solid rgba(0,0,0,.07);
		}
		th {
			text-align: left;
			font-weight: normal;
		}
		thead {
			th {
				font-weight: 700;
				background-color: $(accentColor);
				color: white;
			}
		}
	}
	.wp-block-table.aligncenter {
		margin: 0 auto;
	}
	.wp-block-table td, .wp-block-table th {
		padding: 0.5em;
		text-align: left;
		font-weight: normal;
		border: 1px solid rgba(0,0,0,.07);
	}
	dl, address {
		margin: 0 0 1em;
		dt {
			font-weight: 600;
			display: inline;
			padding-right: .75em;
		}
		dd {
			display: inline;
			margin: 0;
			&:after {
				content: ' ';
				display: table;
				clear: both;
			}
		}
	}
	/* Link */
	a {
		text-decoration: none;
		color: $(accentColor);
	}
	.has-large-font-size {
		font-size: 2.2em;
		line-height: 1.5;
	}
	.has-medium-font-size {
		font-size: 1.25em;
	}
	/* Bullet list */
	
	ul ul ul {
		list-style-type: square;
	}
	ul, ol {
		margin: 0 0 1em 1.5em !important;
		padding: 0 !important;
		ul, ol {
			margin-bottom: 0 !important;
		}
	}
	li {
		line-height: 1.5 !important;
		margin-bottom: 0 !important;
	}
	.block-library-list .editor-rich-text__tinymce, 
	.block-library-list .editor-rich-text__tinymce ol, 
	.block-library-list .editor-rich-text__tinymce ul {
		margin: 0em;
	}
	/* Code */
	code {
		background-color: transparent !important;
	}
	/* Preformatted */
	pre, .wp-block-preformatted pre, .wp-block-verse pre, pre.wp-block-verse {
		padding: .8em 1em;
		font-family: monospace;
		border: 1px solid #e2e4e7;
	}
	.wp-caption-text {
		font-size: .9em;
		line-height: 1.7;
	}
	.wp-block-categories {
		display: inline-block;
	}
	.wp-block-pullquote cite, 
	.wp-block-pullquote footer, 
	.wp-block-pullquote__citation {
		font-size: inherit;
		text-transform: inherit;
		opacity: .5;
		font-size: 1.25rem;
	}
	/* Separator */
	hr {
		cursor: default;
		margin: 1em auto;
		max-width: 100px;
		border-bottom: 2px solid #8f98a1;
		&.is-style-wide {
			max-width: 100%;
			border: none;
			border-bottom: 1px solid #8f98a1;
		}
		&.is-style-dots {
			background: 0 0;
			border: none;
			text-align: center;
			max-width: none;
			line-height: 1;
			height: auto;
			&:before {
				content: "\00b7 \00b7 \00b7";
				color: #191e23;
				font-size: 20px;
				letter-spacing: 2em;
				padding-left: 2em;
				font-family: serif;
			}
		}
	}
	/* Button */
	.wp-block-button {
		.wp-block-button__link {
			color: #fff;
			font-size: 1rem;
			padding: .8em 2.2em;
			font-weight: normal;
			transition: all 200ms ease-in-out;
			line-height: 1.5;
			&:hover {
				color: $(accentColor);
			}
		}
	}
	/
	/* Comments */
	.wp-block-latest-comments__comment-excerpt p {
		font-size: 0.95em;
	}
	/* Latest posts */
	.wp-block-latest-posts, ul.wp-block-archives, .wp-block-archives, .wp-block-categories ul, ul.wp-block-categories {
		padding-left: 1.3em;
	}
	/* Block margins */
	.wp-block .editor-block-list__block-edit {
		margin-top: 16px !important;
		margin-bottom: 16px !important;
	}
	/* Figcaption align center */
	.wp-block-image .aligncenter figcaption {
		display: block;
	}
}

.mce-content-body {
	blockquote, blockquote.wp-block-quote {
		&:before {
			/*display: none !important;*/
		}
		p {
			/*padding-top: 3em !important;*/
		}
	}
}

.wp-block-freeform .mce-item-table:not(.wp-block-table) {
	thead {
		th {
			font-weight: 700;
			background-color: $(accentColor);
			color: white;
		}
	}
	tbody {
		td, th {
			a {
				font-weight: bold;
				color: $(accentColor);
			}
		}
	}
}